<script src="jQuery.js"></script>
<script src="src/interface.js"></script>

<h1 id='title'>Quizzical</h1>

<button type="button" id='indexButton'>Start</button>
<button type="button" id='howToPlayIndexButton'>How To Play</button>

<div class="howToPlay">
  <p id='howToPlayInstructions'></p>
</div>
