<div id="indexPage">

<div id="titleContainer">
    <h1 id='title'>Quizzical</h1>
</div>




<div id="startButtonsContainer">


  <form id="startFormContainer" action="/questions" >
    <button type="submit" class="indexButton" >Start</button>
    <button type="button" id="howToPlayIndexButton" class="indexButton" >How To Play</button>
  </form>

  <p id='howToPlayInstructions'></p>

</div>



</div>
