<div class="index">


<h1 id='title'>Quizzical</h1>
<div class="startHowToPlayOption">

  <form action="/questions" >
    <button type="submit" class="startHowToPlayButton" id='indexButton'>Start</button>
  </form>
  <button type="button" class="startHowToPlayButton" id='howToPlayIndexButton'>How To Play</button>
  <p id='howToPlayInstructions'></p>

</div>



</div>
