<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quizzical</title>
    <script src="jQuery.js"></script>
    <script src="src/interface.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>

    <%= yield %>

  </body>

</html>
