<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <title>Quizzical</title>
    <link rel = "icon" href = "images/quizzical_logo.png"
       type = "image/x-icon">
    <script src="jQuery.js"></script>


    <script src="src/interface.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    <a id="homeLink" href="/">Home!</a>
    <%= yield %>

  </body>

</html>
